html {
  background-color: blue;
}
body {
  width: 60%;
  margin: 0 auto;
  background-color: green;
  border: 10px solid black;
}
img {
  border-radius: 100%;
  display: block;
  margin: 0 auto;
  border: 20px groove yellow;
}
#primary {
  color: blue;
}
#secondary {
  color: red;
}
p {
  color: solid black;
}
