div {
  height: 100px;
  width: 100px;
  border: 1px solid red;
  border-radius: 100%;
  background-image: url(../000_img/eagle.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

img {
  border: 10px groove orange;
}

.eagle_one {
  border: 10px dotted orange;
}

.eagle_two {
  border: 10px double orange;
}

.eagle_three {
  border: 10px dashed orange;
}
