p {
  font-style: italic;
  text-transform: uppercase;
}
.first {
  font-family: 'Roberto', times;
  font-weight: 100;
}
.second {
  font-family: 'Roberto', serif;
  font-weight: 400;
}
.third {
  font-family: 'Roberto', sans-serif;
  font-weight: 500;
}
